@model locacao_veiculos.Models.PedidoCarro

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PedidoCarro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PedidoId" class="control-label"></label>
                <select asp-for="PedidoId" class ="form-control" asp-items="ViewBag.PedidoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarroId" class="control-label"></label>
                <select asp-for="CarroId" class ="form-control" asp-items="ViewBag.CarroId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ValorTrasacao" class="control-label"></label>
                <input asp-for="ValorTrasacao" class="form-control" />
                <span asp-validation-for="ValorTrasacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataTrasacao" class="control-label"></label>
                <input asp-for="DataTrasacao" class="form-control" />
                <span asp-validation-for="DataTrasacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

