<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                CREA-SP Vocational training award - trainees 2015
                <p>Certificate of honor to merit for having stood out in first place in the Chemical Engineering course</p>
            </li>
        </ul>
    </div>
</section>