<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Gama Academy - Farmarcas</h3>
                <div class="subheading mb-3">Code of the Future</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2022 - January 2023</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Digital House Brasil - Mercado Livre and Globant</h3>
                <div class="subheading mb-3">Certified Tech Developer</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2021 - today</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Digital House Brasil</h3>
                <div class="subheading mb-3">Node Full Stack Development</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">February 2021 - September 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Armando Álvares Penteado Foundation</h3>
                <div class="subheading mb-3">Bachelor of Chemical Engineering</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2011 - December 2015</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Universitary Center of Mauá Institute of Technology</h3>
                <div class="subheading mb-3">Bachelor of Chemical Engineering</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">February 2011 - July 2011</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Mackenzie Presbyterian High School</h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">February 2005 - December 2007</span></div>
        </div>
    </div>
</section>