@model LocacaoVeiculos.Models.Configuracao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Configuracao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasDeLocacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasDeLocacao)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="text-white text-decoration-none">Edit</a> |
    </button>
    <button class="btn btn-secondary"><a asp-action="Index" class="text-white text-decoration-none">Back to List</a></button>
</div>
