<section class="page-section" id="contact">
  <h2 class="span1">LISTA DE CLIENTES CADASTRADOS</h2>
  <div class="container" style="max-width: 1000px; padding-left: 5px; padding-right: 5px;">
    <div class="divider-custom">
      <a routerLink="/form-clientes" class="btn btn-primary ">Adicionar novo</a>
    </div>
    <div class="row ">
      <div class="div3">
        <div *ngIf="clientes && clientes.length == 0" class="alert alert-primary" role="alert">
          Não existe clientes cadastrados
        </div>
        
        <table *ngIf="clientes && clientes.length > 0" class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Telefone</th>
              <th scope="col">Email</th>
              <th scope="col">CPF</th>
              <th scope="col">CEP</th>
              <th scope="col">Logradouro</th>
              <th scope="col">Número</th>
              <th scope="col">Bairro</th>
              <th scope="col">Cidade</th>
              <th scope="col">Estado</th>
              <th scope="col">Complemento</th>
              <th scope="col" >Ações</th>
            
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
             <td>{{cliente.id}}</td>
              <td>{{cliente.nome}}</td>
              <td>{{cliente.telefone | telefone}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.cpf | cpf}}</td>
              <td>{{cliente.cep | cep}}</td>
              <td>{{cliente.logradouro}}</td>
              <td>{{cliente.numero}}</td>
              <td>{{cliente.bairro}}</td>
              <td>{{cliente.cidade}}</td>
              <td>{{cliente.estado}}</td>
              <td>{{cliente.complemento}}</td>
             
                <td class="acoes"><a class="btn btn-warning" routerLink="/form-clientes/{{cliente.id}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg>
                </a></td>
                <td style="padding-left: 1px;"><button class="btn btn-danger" (click)="excluir(cliente)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg></button></td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>