.card {
    height: 16rem;
    width: 18rem;
    color: #212529;
    border-radius: 10px;
}

.card:hover,
.card:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.50em);
  background-color: #E9ECEF;
  cursor: pointer;
  border: 1px #CED4DA solid;
} 
