<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Alexandre
            <span class="text-primary">Pedro</span>
        </h1>
        <div class="subheading my-5">
            919 Apiacás Street · São Paulo, SP 05017-020 · <a href="mailto:alexandrecpedro@gmail.com">alexandrecpedro@gmail.com</a>
        </div>
        <p class="lead mb-5">I am a Chemical Engineer, and a Certified Tech Developer from Digital House Brazil, 
            <br/>who have found my true vocation working with computers and making them work for me.<br/> I <b>love</b> to write these amazing pieces of ✨magic called software</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/alexandre-da-costa-pedro-a319b62b/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/alexandrecpedro/"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://api.whatsapp.com/send?phone=+5511996269649"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />