@using negocio.models
@{
    ViewData["Title"] = "Novo Produto";
}

<div class="text-center">
  <div class="alert alert-danger" role="alert">@ViewBag.erro</div>
  <hr>
  <a href="/produtos" class="btn btn-default">Voltar</a>
</div>