<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul>
            <li class="list-inline">Frontend Development
                <ul class="list-inline dev-icons">
                    <abbr title="HTML5">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    </abbr>
                    <abbr title="CSS3">
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    </abbr>
                    <abbr title="Sass">
                        <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                    </abbr>
                    <abbr title="Bootstrap">
                        <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
                    </abbr>
                    <abbr title="JavaScript">
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    </abbr>
                    <abbr title="React">
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    </abbr>
                    <abbr title="Angular">
                        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                    </abbr>
                </ul>
            </li>
            <li class="list-inline">Backend Development
                <ul class="list-inline dev-icons">
                    <abbr title="Node.js">
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                    </abbr>
                    <abbr title="Express">
                        <li class="list-inline-item"><i class="devicon-express-original"></i></li>
                    </abbr>
                    <abbr title="Java">
                        <li class="list-inline-item"><i class="fab fa-java"></i></li>
                    </abbr>
                    <abbr title=".NET">
                        <li class="list-inline-item"><i class="devicon-dot-net-plain"></i></li>
                    </abbr>
                </ul>
            </li>
            <li class="list-inline">Database
                <ul class="list-inline dev-icons">
                    <abbr title="MySQL">
                        <li class="list-inline-item"><i class="devicon-mysql-plain"></i></li>
                    </abbr>
                    <abbr title="PostgreSQL">
                        <li class="list-inline-item"><i class="devicon-postgresql-plain"></i></li>
                    </abbr>
                    <abbr title="SQLite">
                        <li class="list-inline-item"><i class="devicon-sqlite-plain"></i></li>
                    </abbr>
                    <abbr title="MongoDB">
                        <li class="list-inline-item"><i class="devicon-mongodb-plain"></i></li>
                    </abbr>
                </ul>
            </li>
            <li class="list-inline">Mobile Development
                <ul class="list-inline dev-icons">
                    <abbr title="React Native">
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    </abbr>
                    <abbr title="Kotlin">
                        <li class="list-inline-item"><i class="devicon-kotlin-plain"></i></li>
                    </abbr>
                    <abbr title="Flutter">
                        <li class="list-inline-item"><i class="devicon-flutter-plain"></i></li>
                    </abbr>
                </ul>
            </li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Mobile-First, Responsive Design
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Browser Testing & Debugging
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Functional Teams
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum
            </li>
        </ul>
    </div>
</section>