<section class="page-section" id="contact" style="margin-top: 15px; margin-bottom: 2px;">
  <h2 style="flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
  display: flex;">LISTA DE PRODUTOS</h2>
    <div class="container">
        <div class="divider-custom">
            <a routerLink="/form-produto" class="btn btn-primary ">Adicionar novo</a>
            <!-- <button class="btn btn-primary" (click)="novoCliente()">Adicionar novo</button> -->
        </div>
        <div class="row ">
            <div class="col-lg-8 col-xl-7" style="width: 100%">
              <div *ngIf="produtos && produtos.length == 0" class="alert alert-primary" role="alert">
                  Não existem produtos cadastrados
              </div>
              <table *ngIf="produtos && produtos.length > 0" class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Categoria</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Quantidade</th>
                      <th scope="col">Valor de venda</th>
                      <th scope="col">Custo de compra</th>
                      <th scope="col" colspan="4" style="text-align: -webkit-center;">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let produto of produtos" style="vertical-align: middle">
                      <td scope="row">{{produto.id}}</td>
                      <td>{{this.nomesCategorias[number(produto.categoria_id)-1]}}</td>
                      <td>{{produto.nome}}</td>
                      <td>{{produto.descricao}}</td>
                      <td>{{produto.qtd_estoque}}</td>
                      <td>{{number(produto.valor) | currency}}</td>
                      <td>{{number(produto.custo) | currency}}</td>
                      
                      <td class="btnacoes">
                        
                        <a class="btn btn-warning" routerLink="/form-produto/{{produto.id}}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                          </svg>
                    </a>
                  
                  </td>

                      <td class="btnacoes">
                        <button class="btn btn-danger" (click)="excluir(produto)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                      </svg>
                    </button></td>
                  
                    

                      <td class="btnacoes"><button class="btn btn-success" (click)="comprar(produto)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg></button></td>

                      <td class="btnacoes"><button class="btn btn-primary" routerLink="/produtos/{{produto.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                      </svg></button></td>

                   
                      <!-- <td><button class="btn btn-danger" [disabled]="!logadoService.adm" (click)="excluir(cliente)">Excluir</button></td> -->
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
</section>
