@using Negocio.Entidades
@{
  ViewData["Title"] = "Novo Produto";
}

<div class="text-center">
  <div class="alert alert-danger" role="alert">
    @ViewBag.erro
  </div>
  <hr>
  <a href="/clientes" class="btn btn-default">Voltar</a>
</div>