@using Negocio.Entidades
@{
    ViewData["Title"] = "Novo Produto";
}

<div class="text-center">
    <h1 class="display-4">Novo produto</h1>
</div>

<hr>

<form action="/clientes/cadastrar" method="post">
  <div class="form-group">
    <label for="nome">Nome do produto</label>
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome">
  </div>
  <br>
  <div class="form-group">
    <label for="descricao">Descrição do produto</label>
    <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição do produto">
  </div>
  <div class="form-group">
    <label for="data-criacao">Data de criação do produto</label>
    <input type="datetime-local" class="form-control" id="data-criacao" name="data-criacao" placeholder="Data de criação do produto">
  </div>
  <div class="form-group">
    <label for="data-validade">Data de validade do produto</label>
    <input type="datetime-local" class="form-control" id="data-validade" name="data-validade" placeholder="Data de validade do produto">
  </div>
  <div class="form-group">
    <label for="qtd-estoque">Quantidade em estoque</label>
    <input type="number" class="form-control" id="qtd-estoque" name="qtd-estoque" placeholder="Quantidade em estoque">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <a href="/produtos" class="btn btn-default">Voltar</a>
</form>