<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Android Developer</h3>
                <div class="subheading mb-3">Innove Propaganda</div>
                <p>Development of virtual stores for pharmacies and drugstores, auto layout, integration with API's, geolocation, update of new versions, upload and publish the mobile app on Google Play.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Research and Development Intern</h3>
                <div class="subheading mb-3">Flint Group do Brasil</div>
                <p> Study of legislation and impact in the inks formulation. <br/>Monitoring the development of new inks. <br/>Ink formulation review: verify if it's developed according to Brazilian laws. <br/>Reporting discrepancy related to the development of inks or its production to financial director.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">December 2011 - March 2013</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Content Producer</h3>
                <div class="subheading mb-3">Qelp do Brasil</div>
                <p>Production of manual instructions, step-by-step, for customers of Qelp in Brazil and abroad. Daily work with staff located in the Netherlands for analysis and verification of the produced material.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2013 - March 2014</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Academic Monitor</h3>
                <div class="subheading mb-3">Armando Álvares Penteado Foundation</div>
                <p>Responsible for teaching, monitoring the implementation of academic projects and monitoring of academic disciplines Physics (I, II, III, IV), Calculus (I, II, III, IV), Chemistry and Linear Algebra.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2012 - December 2012</span></div>
        </div>
    </div>
</section>