
<div class="container">
    <div class="row justify-content-around align-items-end">
        <div class="row mt-5 p-0 cardd">
          <div class="col-8 ms-3 mt-3">
            <div class="card-tag">
                <span>Pedidos</span>
            </div>
            <h4>Total de Pedidos</h4>
            <p>{{orderObserver.orderQty}}</p>
            <button class="mt-4 btn">Ver Pedidos</button>
          </div>
          <div class="col">
            <div class="quarter-circle-top-right"></div>
            <div class="row mt-3 ms-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#4E46B4" class="bi bi-cart-fill" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
            </div>
          </div>    
        </div>
        <div class="row mt-5 p-0 cardd">
            <div class="col-8 ms-3 mt-3">
              <div class="card-tag">
                  <span>Produtos</span>
              </div>
              <h4>Total de Produtos</h4>
              <p>{{productObserver.productQty}}</p>
              <button class="mt-4 btn" routerLink="products">Ver Produtos</button>
            </div>
            <div class="col">
              <div class="quarter-circle-top-right"></div>
              <div class="row mt-3 ms-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#4E4684" class="bi bi-bag-fill" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
                  </svg>
              </div>
            </div>    
          </div>
        
           <div class="row mt-5 p-0 cardd">
                    <div class="col-8 ms-3 mt-3">
                      <div class="card-tag">
                          <span>Clientes</span>
                      </div>
                      <h4>Numero de Clientes</h4>
                      <p>{{clientObserver.clientQty}}</p>
                      <button class="mt-4 btn" routerLink="clients">Ver Clientes</button>
                    </div>
                    <div class="col">
                      <div class="quarter-circle-top-right"></div>
                      <div class="row ms-3 mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#4E4684" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                          </svg>
                      </div>
                    </div>    
                  </div>     
    </div>
</div>
<!-- <div class="container">
    <div class="row mt-5 justify-content-around">
        <div class="col-9 fluxo-overview me-2">
           
        </div>
        <div class="col produtos-estoque">
            <div class="row">
                <div class="col-7 mt-3">  
                    <h4>Produtos que estão acabando</h4>
                    <span>Esses produtos estão com poucas unidades em estoque</span>
                </div>
                <div class="col ms-3">
                    <div class="quarter-circle-top-right"></div>
                </div>
            </div>
            <div class="row mt-5 mx-1 produto-estoque">
                <div class="row">
                    <div class="col-8">
                        <p>Nome</p>
                    </div>
                    <div class="col">
                        <p>Quantidade</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-8 ">
                        <p>produto 1</p>
                    </div>
                    <div class="col">
                        <p>2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->