#Navbar-primary {
    background: linear-gradient(-135deg, #1e1044, #404186);
}

.nav-link {
    color: rgb(177, 177, 177);
}

.nav-link:hover {
    background-color: rgb(23, 23, 209);
    transition: 0.5s;
    opacity: 0.7;
    color: rgb(255, 255, 255);
}

.nav-link:focus {
    background-color: rgb(23, 23, 209);
    color: rgb(255, 255, 255);
}

.btn {
    background-color: #bb2d3b;
    border: none;
}

.deslogue {
    padding: 10px;
}

.sair {
    padding-left: 3px;

    cursor: pointer;
}