<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Alexandre
            <span class="text-primary">Pedro</span>
        </h1>
        <div class="subheading mb-5">
            Rua Apiacás, 919 ap 91 · São Paulo, SP 05017-020 · (11) 99626-9649 ·
            <a href="mailto:alexandrecpedro@gmail.com">alexandrecpedro@gmail.com</a>
        </div>
        <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
        <div class="social-icons">
            <a class="social-icon" routerLink="https://www.linkedin.com/in/alexandre-da-costa-pedro-a319b62b/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />