.modelo {
    display: inline-block;
    margin-right: 10px;
}

.naDireita {
    text-decoration: underline;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 10px;
    align-content: center;
}

.naDireita:hover {
    color: rgb(23, 35, 209);
    transition: 0.5s;
}

.container2 {
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 12px;
}

.row {
    justify-content: center;
}

.table {
    text-align: center;
}

.titulo {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
    display: flex;
}